In [39]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [40]:
#Total number of unique schools
total_school = school_data["school_name"].count()
total_school

15

In [41]:
#Total students
total_students = student_data["student_name"].count()
total_students

39170

In [42]:
#Total budget 
total_budget = school_data["budget"].sum()
total_budget

#Average math score
avg_score = student_data["math_score"].mean()
avg_score

#Average reading score
avg_reading = student_data["reading_score"].mean()
avg_reading

# % passing math
passing_math = (school_data_complete["math_score"]>70).sum()/school_data_complete["math_score"].count() *100
passing_math

# % passing reading
passing_reading = (school_data_complete["reading_score"]>70).sum()/school_data_complete["reading_score"].count() *100
passing_reading

# % overall passing
overall_passing = ((avg_score + avg_reading) /2)
overall_passing

80.43160582078121

In [43]:
#District Summary
Summary = pd.DataFrame ({"total_school":[total_school], "total_students":[total_students],"total_budget":[total_budget],"avg_score":[avg_score],"avg_reading":[avg_reading],"passing_math":[passing_math],"passing_reading":[passing_reading], "overall passing":[overall_passing]})
Summary

,total_school,total_students,total_budget,avg_score,avg_reading,passing_math,passing_reading,overall passing
0,15,39170,24649428,78.985371,81.87784,72.392137,82.971662,80.431606

In [ ]:
#Sort the schools by $Overall Passing and display top 5 rows
school_count = len(school)